.anim {
  &.head.ng-hide-remove {
    animation: fadeInLeft 1s;
  }

  &.project-list.ng-hide-remove {
    animation: fadeInUp 1.2s;
  }
  &.etc.ng-hide-remove {
    animation: fadeInUp 800ms;
  }
  &.loading.ng-hide-remove {
    animation: fadeInDownR .4s;
  }
  &.loading.ng-hide-add {
    animation: fadeOutUpR .3s;
  }
}

//rewrite the fadeInDown for the loading animation
@keyframes fadeInDownR {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes fadeOutUpR {
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

