.fixed-menu {
  display: table;
  height: 100%;
  position: fixed;
  width: 100%;
  header {
    display: table-row;
    height: 300px;
  }
}

.project-wrapper {
  position: relative;
  display: table-row;
}

.project-list {
  columns: 6 auto;
  height: 100%;
  counter-reset: enum;
  &.columns {
    padding: 0;
  }
}

.project {
  column-rule-width: 200px;
  margin-bottom: 10px;
  break-inside: avoid-column;
  position: relative;
  a {
    color: inherit;
  }
  .project-title {
    font-weight: bold;
  }

  &:before {
    content: counter(enum) " ]";
    counter-increment: enum;
    position: relative;
    float: left;
    padding-right: 5px;
  }
}

.home-page{
  .etc {
    height: 100%;
    position: relative;
    .right {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}