// Homepage specific
.home-page {

  .fixed-menu {
    display: table;
    height: 100%;
    position: fixed;
    width: 100%;
    header {
      display: table-row;
      height: 280px;
    }
  }

  .project-wrapper {
    position: relative;
    display: table-row;
    height: 100%;
  }

  .project-list {
    columns: 5 auto;
    column-gap: 2em;
    height: 100%;
    counter-reset: enum;
    &.columns {
      padding: 0;
    }
  }

  .project {
    padding-bottom: rem_calc(10px);
    break-inside: avoid-column;
    position: relative;
    a {
      color: inherit;
    }
    .project-title {
      font-weight: bold;
    }

    &:before {
      content: counter(enum) " ]";
      counter-increment: enum;
      position: relative;
      float: left;
      padding-right: 5px;
    }
  }

  .etc {
    height: 100%;
    position: relative;
    display: table;
    .right {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

