@import "normalize";
@import "settings";
@import "animations";
// Libraries
@import "foundation";
@import "slick";

body, html {
  height: 100%;
}

.fixed-menu {
  display: table;
  height: 100%;
  position: fixed;
  padding: 50px 60px;
  width: 100%;
}

.head {
  font-weight: bold;
  .head-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .head-job, .head-phone, .head-email {
    font-size: 14px;
  }
  .head-email {
    a {
      color: inherit;
    }
  }
  .head-about {
    margin-top: 20px;

  }
}

.project-list {
  columns: 6 auto;
  margin-top: 150px;
  height: calc(100% - 300px);
  counter-reset: enum;
}

.project {
  column-rule-width: 200px;
  margin-bottom: 10px;
  break-inside: avoid-column;
  position: relative;
  a {
    color: inherit;
  }
  .project-title {
    font-weight: bold;
  }

  &:before {
    content: counter(enum) " ]";
    counter-increment: enum;
    position: relative;
    float: left;
    padding-right: 5px;
  }
}

.show {
  border: 1px solid red;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .8;
  background: #bdc3c7;
  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
  }
}