@import "normalize";
@import "settings";
@import "animations";
// Libraries
@import "foundation",
"slick";
// Pages
@import "home",
"projects";

body, html {
  height: 100%;
}

.container {
  &.isLoading {
    filter: blur(3px);
  }
}

.content {
  padding: 30px 50px;
}

.head {
  font-weight: bold;
  .head-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .head-job, .head-phone, .head-email {
    font-size: 14px;
  }
  .head-email {
    a {
      color: inherit;
    }
  }
  .head-about {
    margin-top: 20px;

  }
}

.show {
  border: 1px solid red;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .8;
  background: lighten(#add8e6, 10%);
  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    color: darken(#add8e6, 40%);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
  }
}

.close {
  color: black;
  font-weight: 100;
  font-size: 32px;
  &:after {
    content: "X";
  }
}

.slick-dots {
  li {
    width: 0px;
  }
}

.footer {
  // make sure etc is in footer
  position: relative;
}

.etc {
  font-weight: bold;
  li {
    list-style: none;
  }
  a {
    color: inherit;
  }
}