@import "settings";
@import "slick";

body{
  font-family: 'Roboto Slab', serif;
}

.fixed-menu {
  height: 100%;
  position: fixed;
  padding: 50px 60px;
  width: 100%;
  .head {
    font-weight: bold;
  }
  h3.title {
    margin-bottom: 25px;
  }
  .about {
    margin-top: 20px;
  }
}

.project-list {
  columns: 6 auto;
  margin-top: 90px;
  /* Head takes 153px, adding 20px for bottom spacing */
  height: calc(100% - 200px);
}

.project {
  column-rule-width: 200px;
  margin-bottom: 5px;
  break-inside: avoid-column;
  a {
    color: $color-main;
  }
}

.project-title {
  font-weight: bold;
}
