<div class="fixed-menu content">
	<header options="vm.options"></header>

	<div class="row project-wrapper" data-equalizer>
		<div class="project-list large-10 columns anim" ng-show="vm.projects" data-equalizer-watch>
			<div ng-repeat="project in vm.projects" class="project">
				<a ui-sref="projet({projectSlug:project.slug})">
					<div class="project-title">{{::project.title}}</div>
					<div class="project-summary">{{::project.summary}}</div>
				</a>
			</div>
		</div>
		<div class="etc large-2 columns anim" ng-show="vm.projects" data-equalizer-watch>
			<div class="right">
				<ul>
					<li><a href="http://www.le-magneto.com/">magneto</a></li>
					<li><a href="http://www.f-o-r-g-e.com/">F.O.R.G.E</a></li>
					<li><a href="http://www.mystique-plugin.com/">Mystique</a></li>
				</ul>
				<div>portfolio.pdf</div>
			</div>
		</div>
	</div>

</div>
