<div class="content project-page">
	<header options="options"></header>

	<slick-carousel images="images" dots="true" autoplay="true" autoplay-speed="4000" speed="800"></slick-carousel>

	<div class="footer row">
		<div class="info large-10">
			<div class="large-3 columns">
				<h5>{{::project.title}}</h5>

				<div>{{::project.summary}}</div>
			</div>
			<div class="large-3 columns">
				<h5>Informations</h5>

				<div>
					{{::project.information}}
				</div>
			</div>
			<div class="large-3 columns end">
				<h5>Collaborateurs</h5>

				<div>
					{{::project.collaborators}}
				</div>
			</div>
		</div>

		<div class="etc large-2 anim">
			<div class="right">
				<ul>
					<li><a href="http://www.le-magneto.com/">magneto</a></li>
					<li><a href="http://www.f-o-r-g-e.com/">F.O.R.G.E</a></li>
					<li><a href="http://www.mystique-plugin.com/">Mystique</a></li>
				</ul>
				<div>portfolio.pdf</div>
			</div>
		</div>
	</div>
</div>
